body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, sans-serif;
    color: #444;
}

 /* Formatting the header area */
header {
    background-color: #faa500;
    height: 50px;
    width: 100%;
    opacity: .9;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 20px;
}
header h1.logo {
    margin: 0;
    font-size: 1.7em;
    color: #697d91;
    text-transform: uppercase;
    float: left;
}
header h1.logo:hover {
    color: #fff;
    text-decoration: none;
}

/*Menu right-aligned*/
.menu {
    float: left;
    margin-top: 8px;
    padding-left: 0px;
}
.menu li {
    display: inline;
}
.menu li + li {
    margin-left: 10px;
}
.menu li a {
    color: #697d91;
    text-decoration: none;
}
.menu li a:hover {
    color: #fff;
    text-decoration: none;
}

/* Centering the body content */
   
.container {
    width: 90%;
    margin: 0 auto;
  }

