body {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, sans-serif;
  color: #444;
}
/*
 * Formatting the header area
 */
header {
  background-color: #faa500;
  height: 50px;
  width: 100%;
  opacity: .9;
  margin-bottom: 10px;
  padding-top: 10px;
  padding-left: 20px;
}
header h1.logo {
  margin: 0;
  font-size: 1.7em;
  color: #697d91;
  text-transform: uppercase;
  float: left;
}
header h1.logo:hover {
 color: #fff;
 text-decoration: none;
 }

 /*
 * Centering the body content
 */
 
.container {
  width: 95%;
  margin: 0 auto;
}
div.home {
  padding: 10px 0 30px 20px;
  background-color: #f2f2f2;
  -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
}
div.table {
  padding: 10px 0 30px 20px;
  background-color: #f2f2f2;
  -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
}

div.plot {
  padding: 10px 0 30px 20px;
  background-color: #f2f2f2;
  -webkit-border-radius: 6px;
	 -moz-border-radius: 6px;
		  border-radius: 6px;
}

h2 {
  font-size: 3em;
  margin-top: 40px;
  text-align: center;
  letter-spacing: -2px;
}
h3 {
  font-size: 1.7em;
  font-weight: 100;
  margin-top: 30px;
  text-align: center;
  letter-spacing: -1px;
  color: #999;
}

/*Menu right-aligned*/
.menu {
  float: right;
  margin-top: 8px;
  padding-right: 20px;
}
/*Menu in one line horizontal*/
.menu li {
  display: inline;
}
/*Horizontal margin between menu entrys*/
.menu li + li {
  margin-left: 15px;
}
/*Color and decoration*/
.menu li a {
  color: #697d91;
  text-decoration: none;
}
/*color and decoration when mouse is on it*/
.menu li a:hover {
  color: #fff;
  text-decoration: none;
}

/*styling the table*/
table.dataframe, .dataframe th, .dataframe td {
  border: none;
  border-bottom: 1px solid #C8C8C8;
  border-collapse: collapse;
  text-align:center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 40px;
  font-size: 0.9em;
}

