{% extends "layout.html" %}
{% block content %}
	<div class="home">
        <h1>Home of the data analytics app</h1>
		<img src="\static\images\image1.png" width="200" alt="Image">
		<br>
		<p>Web app developped by Marco Jordi </p>
    </div>
{% endblock %}
