<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='content-type' content='text/html; charset=utf-8' />
		
		<title>Basic Data App</title>

		
		{{ resources|indent(4)|safe }}
		{{ script |indent(4)| safe }} 
		
		<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		
	</head>
	<body>
		<header>
			<div class="container">
				<a href="{{ url_for('home') }}"><h1 class="logo">Basic Data App</h1></a>
				<strong><nav>
					<ul class="menu">
						<li><a href="{{ url_for('home') }}">Home</a></li>
						<li><a href="{{ url_for('table') }}">Table</a></li>
						<li><a href="{{ url_for('plot') }}">Plot</a></li>
					</ul>
				</nav></strong>
			</div>
		</header>
		<div class="container">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>

