{% extends "layout.html" %}
{% block content %}
  <div class="plot">
	<h1>{{ text | safe }}</h1>
	{{ div |indent(4)|safe }}
	<br>
	<h>This is a plot of a quadratic, root and sinus function.</h>
  </div>
{% endblock %}
