<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8' />
		<meta http-equiv='content-type' content='text/html; charset=utf-8' />
		
		<title>Basic Django Polls App</title>

		{% load static %}

		<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
		
	</head>
	<body>
		<header>
			<div class="container">
				<strong><nav>
					<ul class="menu">
						<li><a href="{% url 'polls:index' %}">Polls</a></li>
						<li><a href="{% url 'polls:table' %}">Table</a></li>
						<li><a href="{% url 'admin:index' %}">Admin</a></li>
					</ul>
				</nav></strong>
			</div>
		</header>
		<div class="container">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>

