{% extends "polls/layout.html" %}
{% block content %}

<h1>Table</h1>
<br>
<table summary="no_orderDate">
    <tr>
        <th>{{ tables.columns.0 }}</th>
        <th>{{ tables.columns.1 }}</th>
        <th>{{ tables.columns.2 }}</th>
    </tr>
    {% for ax, bx, cx in tables.data %}
        <tr>
            <td>{{ ax }}</td>
            <td>{{ bx }}</td>
            <td>{{ cx }}</td>
        </tr>
    {% endfor %}
</table>



{% endblock %}